@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/inter/static/Inter_18pt-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/inter/static/Inter_18pt-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Martian mono';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/martian-mono/static/MartianMono-Regular.ttf') format('truetype');

}

@font-face {
    font-family: 'Martian mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/martian-mono/static/MartianMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Martian mono';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/martian-mono/static/MartianMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Martian mono';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/martian-mono/static/MartianMono-SemiBold.ttf') format('truetype');
}
