@use "../abstracts/mixins" as m;
.container {
  display: grid;
  grid-template-columns: 1fr; 
  padding-inline: var(--spacing-200);
}

.container > * {
  grid-column: 1; /* Contenu centré sur une seule colonne */
}

/* Desktop */
@include m.breakpoint("medium") {
  .container {
    grid-template-columns: 1fr minmax(0, 1170px) 1fr; /* Colonnes pour marges et contenu centré */
    padding-inline: var(--spacing-400); /* Ajuste les marges latérales */
  }

  .container > * {
    grid-column: 2; /* Place le contenu dans la colonne centrale */
  }
}

// @include m.breakpoint("large") { 
  
// }
