@use "../abstracts/mixins" as m;
.hero {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
  padding-top: var(--spacing-300);
  padding-bottom: 80px;

  &__section {
    position: relative;
    background-image: url("/assets/images/pattern-light-bg.svg");
    background-color: #faf5f3;
    overflow: hidden; /* Cache le contenu qui dépasse */
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--spacing-400);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    &-title {
      background: linear-gradient(
        102deg,
        var(--colors-light-salmon-500) -15%,
        var(--colors-neutral-900) 48%
      );

      /* Affiche le gradient comme couleur de texte */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; /* Rend le texte transparent pour révéler le gradient */
      background-clip: text; /* Standard */
    }

    &-description {
      color: var(--colors-neutral-700);
    }
  }

  &__image {
    img {
      width: 100%;
      border-radius: var(--radius-4);
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);

    &-button {
      width: fit-content;
      text-transform: uppercase;
    }

    &-testimonial {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-150);

      img {
        height: 40px;
      }

      &-rating {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-050);

        &-stars {
          display: flex;
          flex-direction: row;
        }
      }

      &-text {
        color: var(--colors-neutral-700);
      }
    }
  }

  @include m.breakpoint("medium") {
    gap: var(--spacing-800);

    &::after {
      content: "";
      background-image: url("/assets/images/pattern-glow.svg");
      pointer-events: none; // éviter les interactions avec le pseudo-element
      position: absolute;
      bottom: -300px;
      right: -420px;
      width: 684px; /* Ajuste la largeur */
      height: 684px; /* Ajuste la hauteur */
      background-size: cover; /* Assure le bon ratio */
      background-position: center;
      z-index: 1; /* Passe derrière le contenu */
    }

    &__image {
      img {
        max-width: 540%;
      }
    }
  }

  @include m.breakpoint("large") {
    gap: var(--spacing-1000);

    &__content {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-800);
    }
  }
}

.feature {
  &__image {
    order: 2;
    img {
      width: 100%;
      border-radius: var(--radius-20);
    }
  }

  &__content {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  @include m.breakpoint("large") {
    &__image {
      order: 1;
      img {
        width: 100%;
        border-radius: var(--radius-20);
      }
    }

    &__content {
      order: 2;
      display: flex;
      flex-direction: column;
      gap: 34px;
    }
  }
}

.community {
  position: relative;
  &__image {
    order: 2;
    img {
      width: 100%;
      border-radius: var(--radius-20);
    }
  }

  &__content {
    order: 1;
    display: flex;
    flex-direction: column;
    gap: 34px;
  }

  &__title {
    position: relative;
    &-image {
      // transformer cette element en afeter et utiliser transform()
      position: absolute;
      bottom: 0px;
      left: -13px;
      height: 100%;
    }
  }

  &__description {
    position: relative;
    color: var(--colors-neutral-700);
  }

  @include m.breakpoint("large") {
    &__image {
      order: 2;
      img {
        width: 100%;
        border-radius: var(--radius-20);
      }
      &::after {
        content: "";
        background: no-repeat;
        background-image: url("/assets/images/logos-tech.svg");
        pointer-events: none; // éviter les interactions avec le pseudo-element
        position: absolute;
        display: inline-block;
        width: 120px;
        height: 100%;
        transform: translate(-69%, -34%);
      }
    }

    &__content {
      order: 1;
      display: flex;
      flex-direction: column;
      gap: 34px;
    }
  }
}

.journey {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-600);
  padding: var(--spacing-1000);
  background-image: url("/assets/images/pattern-light-bg.svg");
  border-radius: var(--radius-12);
  background-color: var(--colors-neutral-50);
  overflow: hidden;

  &::after {
    content: "";
    background-image: url("/assets/images/pattern-glow.svg");
    pointer-events: none; // éviter les interactions avec le pseudo-element
    position: absolute;
    top: -40px;
    right: -100px;
    width: 684px;
    height: 684px;
  }

  &__title {
    max-width: 512px;
    color: var(--colors-neutral-900);
    text-align: center;
  }

  &__steps {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-600);
    z-index: 1;
  }

  &__step {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-300);
    border: 1px solid red;

    &-number {
      justify-content: center;
      display: flex;
      align-items: center;
      text-align: center;
      width: 40px;
      height: 40px;
      border: 2px solid var(--colors-neutral-900);
      border-radius: var(--radius-4);
    }

    &-description {
      color: var(--colors-neutral-900);
      text-wrap-style: auto;
    }

    &::after {
      content: "";
      background: no-repeat;
      background-image: url("/assets/images/pattern-arrow.svg");
      pointer-events: none; // éviter les interactions avec le pseudo-element
      position: absolute;
      width: 100px;
      height: 100%;
      transform: translate(125%, 0%);
    }

    &:last-child::after {
      display: none;
    }
  }
}
