@use "../abstracts/mixins" as m;
.hero {

  display: flex;
  flex-direction: column;
  gap: var(--spacing-600);
  padding-top: var(--spacing-300);
  padding-bottom: 80px;

  &__section {
    position: relative;
    background-image: url("/assets/images/pattern-light-bg.svg");
    background-color: #faf5f3;
    overflow: hidden; /* Cache le contenu qui dépasse */
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: var(--spacing-400);
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
  }

  &__text {

    display: flex;
    flex-direction: column;
    gap: var(--spacing-400);
    &-title {
      background: linear-gradient(
        102deg,
        var(--colors-light-salmon-500) -15%,
        var(--colors-neutral-900) 48%
      );

      /* Affiche le gradient comme couleur de texte */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; /* Rend le texte transparent pour révéler le gradient */
      background-clip: text; /* Standard */
    }

    &-description {
      color: var(--colors-neutral-700);
    }
  }

  &__image {
    img {
      width: 100%;
      border-radius: var(--radius-4);
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-250);

    &-button {
      width: fit-content;
      text-transform: uppercase;
    }

    &-testimonial {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--spacing-150);

      img {
        height: 40px;
      }
  
      &-rating {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-050);
  
        &-stars {
          display: flex;
          flex-direction: row;
        }
      }
    }
  }

 

  @include m.breakpoint("medium") {
    gap: var(--spacing-800);

    &::after {
      content: "";
      background-image: url("/assets/images/pattern-glow.svg");
      pointer-events: none; // éviter les interactions avec le pseudo-element
      position: absolute;
      bottom: -300px;
      right: -420px;
      width: 684px; /* Ajuste la largeur */
      height: 684px; /* Ajuste la hauteur */
      background-size: cover; /* Assure le bon ratio */
      background-position: center;
      z-index: 1; /* Passe derrière le contenu */
    }

    &__image {
      img {
        max-width: 540%;
      }
    }
  }

  @include m.breakpoint("large") {
    gap: var(--spacing-1000);

    &__content {
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-800);
    }
  }
}

// .layout {
//     display: grid;
//     grid-template-rows: auto 1fr auto; /* Header, contenu, footer */
//     min-height: 100vh; /* La hauteur occupe tout l'écran */
//   }

//   .layout__header,
//   .layout__footer {
//     background-color: var(--colors-neutral-900); /* Couleur de fond */
//     color: var(--colors-neutral-100); /* Texte */
//     padding: var(--spacing-300); /* Espacement interne */
//     text-align: center;
//   }

//   .layout__main {
//     display: grid;
//     grid-template-columns: 1fr minmax(0, 1170px) 1fr; /* Colonnes avec contenu centré */
//     gap: var(--spacing-400); /* Espacement entre les sections */
//     padding: 0 var(--spacing-300); /* Marges latérales */
//   }

//   .layout__main > section {
//     grid-column: 2; /* Le contenu principal est centré */
//     padding: var(--spacing-300); /* Espacement interne */
//     background-color: var(--colors-light-salmon-50);
//     border-radius: var(--radius-8); /* Coins arrondis */
//     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre discrète */
//   }

//   /* Responsive design */
//   @media (max-width: 768px) {
//     .layout__main {
//       grid-template-columns: 1fr; /* Une seule colonne */
//       padding: 0 16px; /* Marges fixes pour mobile */
//     }

//     .layout__main > section {
//       grid-column: 1; /* Occupe toute la largeur */
//     }
//   }

//   .layout__main > .full-width {
//     grid-column: 1 / -1; /* La section occupe toutes les colonnes */
//     margin-left: calc(-1 * var(--spacing-300)); /* Supprime la marge gauche */
//     margin-right: calc(-1 * var(--spacing-300)); /* Supprime la marge droite */
//     background-color: var(--colors-neutral-700); /* Couleur différente pour se démarquer */
//     color: var(--colors-neutral-100); /* Texte lisible */
//     padding: var(--spacing-400); /* Espacement interne */
//   }
