:root {
    --colors-neutral-0: rgba(255, 255, 255, 1);
    --colors-neutral-50: rgba(250, 245, 243, 1);
    --colors-neutral-200: rgba(230, 225, 223, 1);
    --colors-neutral-700: rgba(56, 81, 89, 1);
    --colors-neutral-900: rgba(6, 38, 48, 1);
    --colors-light-salmon-50: rgba(255, 245, 239, 1);
    --colors-light-salmon-100: rgba(255, 226, 209, 1);
    --colors-light-salmon-500: rgba(254, 163, 111, 1);
}