.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-400);
  padding-top: var(--spacing-1000);

  &__section {
    position: relative;
    background-image: url("@/assets/images/pattern-dark-bg.svg");
    background-color: var(--colors-neutral-900);
    overflow: hidden;
    border-radius: 16px 16px 0 0;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-500);
  }

  &__cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-400);
    background-color: var(--colors-neutral-800);
    border-radius: 16px;

    button {
      width: fit-content;
    }

    &-title {
      max-width: 685px;
      text-wrap-style: auto;
      color: var(--colors-neutral-0);
      text-align: center;
    }
  }

  .cta-testimonial-text {
    color: var(--colors-neutral-0);
  }

  &__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-200);
    border-radius: 0 0 16px 16px;
    width: 100%;
    padding-block: var(--spacing-300);
    border-top: 1px solid var(--colors-neutral-700);

    &-text {
      color: var(--colors-neutral-0);
    }

    &-social-links {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-300);
    }
  }
}
